/*
    Document   : css/style.css
    Created on : 2015-04-07 07:57 PM
    Author     : reissefer
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}