 <div class="onediv">
     <form ng-controller="Login as loginAng">
        <h1>Login</h1>
       
            
            <label><span>Username:</span>
                <input type="text" ng-model="loginAng.username">
            </label>
            <label><span>Password:</span>
                <input type="password" ng-model="loginAng.password">
            </label>
            <label><span></span><button class = "button" ng-click="loginAng.login()">
                Login
                </button> not a member? <a href="#/signup">Sign Up</a></label>
       

    </form>
</div>