<div class="onediv">
    
    <h1>Add Student</h1>
    <a href="#/addstudent">create a student</a>
From This page you can add a student by filling in the student details and picking modules based on the rules of combination
    
    <h1>Search A Student</h1>
    <a href="#/search">Search a student</a>
    From this page you can search for a student that has been added to the system
    
    <h1>help</h1>
    <a href="#/addstudent">Help Page</a>
    This page will contain help on how to add a student and also search for a student.
</div>