
<div ng-controller="addstudent as addStudent" ng-init="init()">
    
<div class = "leftdiv">
    Student Name :
    Student Company : 
    Student modules :
    <div ng-repeat="item in addStudent.get().modules">
         {{item}} <span class="remove" ng-click="addStudent.removeModule(item)">[Remove]</span>
    </div>
</div>
<div class="rightdiv" >
    <form>
        Credits left : {{addStudent.credits}}
        <div ng-hide="addStudent.loaded">
            Loading modules......
        </div>
        <div ng-repeat="item in addStudent.modules" ng-show = "addStudent.loaded">
           <div  ng-show="!addStudent.modules[parseInt(item.value._id, 10)]">
               
            </div>
            id  = {{item.value._id}}
            name = {{item.value.name}}
            credits = {{item.value.credits}}
            <button  ng-click="addStudent.addModule(item.value._id, item.value.credits)">
                Add
            </button>
        </div>
        <label><span></span>
            <button ng-click="addStudent.Next()">
                Next
            </button>
        </label>
    </form>
</div>
    </div>